// https://coolors.co/palettes/popular/gradient

$kea-red: (
  100: #FFF0F3,
  200: #FFCCD5,
  300: #FF8FA3,
  400: #FF4D6D,
  500: #C9184A,
  600: #A4133C,
  700: #800F2F,
  800: #590D22,
  900: #660708
);

$kea-blue: (
  100: #E3F2FD,
  200: #BBDEFB,
  300: #90CAF9,
  400: #64B5F6,
  500: #2196F3,
  600: #1E88E5,
  700: #1976D2,
  800: #1565C0,
  900: #0D47A1
);

$kea-grey: (
  100: #F2F2F2,
  200: #CCCCCC,
  300: #A5A5A5,
  500: #7F7F7F,
  600: #595959
)
