<div class="row no-gutters login-page">
  <div class="col-md-6 col-sm-12 form-section">
    <mat-card id="login-form">
      <mat-card-title class="page-title" style="padding: 0">
        <h1>{{ title }}</h1>
        <div>
          <span class="page-subtitle">
            Sign up now to receive exclusive offers and promotions.
            <br>
            Already have an account? <a routerLink="/auth/login" class="link-text">Log in</a>.
          </span>
        </div>
      </mat-card-title>
      <form class="signup-form" [formGroup]="registrationForm" (ngSubmit)="proceedRegistration()">
        <mat-card-content class="form-content">
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender" required>
                @for (gender of genderList; track gender) {
                  <mat-option [value]="gender">{{ gender }}</mat-option>
                }
              </mat-select>
              <mat-error>Gender is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <mat-select formControlName="title">
                <mat-option>None</mat-option>
                @for (title of titleList; track title) {
                  <mat-option [value]="title">{{ title }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstname" required>
              <mat-error>First name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastname" required>
              <mat-error>Last name is required</mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="text" formControlName="email" required>
              <mat-error>
                @if (isControlInvalid('email', 'required')) {
                  Email address is required
                } @else if (isControlInvalid('email', 'email')) {
                  Invalid email address
                } @else if (isControlInvalid('email', 'exists')) {
                  Email already taken
                }
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput type="text" formControlName="phone" required>
              <mat-error>Phone is required</mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" required>
              <mat-error>
                @if (isControlInvalid('password', 'required')) {
                  Password is required
                } @else if (isControlInvalid('password', 'length')) {
                  Password should be at least 8 characters long
                } @else if (isControlInvalid('password', 'pattern')) {
                  Password does not pattern
                }
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input matInput type="password" formControlName="confirmPassword" required>
              <mat-error>
                @if (isControlInvalid('confirmPassword', 'required')) {
                  Password is required
                } @else if (isControlInvalid('confirmPassword', 'passwordsNotMatch')) {
                  Password does not matched
                }
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role" required>
                @for (role of roleList; track role) {
                  <mat-option [value]="role">{{ role }}</mat-option>
                }
              </mat-select>
              <mat-error>Role is required</mat-error>
            </mat-form-field>
          </div>

          <section style="font-size: 13px">
            <mat-checkbox formControlName="terms" style="margin-left: -10px">I agree to the Terms and Policy
            </mat-checkbox>
            <br>
            <div style="margin-left: 34px; margin-top: -10px">
              By creating an account, you agree to the site
              <a routerLink="#">Terms of Service</a> and <a routerLink="#">Privacy Policy</a>.
            </div>
          </section>
        </mat-card-content>
        <div class="form-call-to-action">
          <button mat-raised-button color="primary" class="sign-in-btn" [disabled]="!registrationForm.valid">Create
            account
          </button>
        </div>

      </form>
    </mat-card>


  </div>
  <div class="col-md-6 d-none d-md-block image-section"></div>
</div>
